<%= turbo_frame_tag dom_id(@team, :form) do %>
  <%= form_with(model: [@tournament, @team], id: "team_form") do |form| %>
    <%# Error Message %>
    <%= form_error_notification(@team) %>

    <div>
      <%= "[#{@team.entryNo || 'New'}]" %>
    </div>

    <%# チーム名 %>
    <div class="mb-3">
      <%= form.label(:name, "チーム名", class: "form-control-label") %>
      <%= form.text_field(:name, class: "form-control form-control", autofocus: true) %>
    </div>

    <%# ユニフォーム %>
    <div class="form-check form-check-inline">
      <%= form.radio_button :color, "none", id: "team_color_none#{@team.id}", class: "form-check-input", checked: @team.color.nil? ||  @team.color == "none" %>
      <%= form.label :color, "なし", class: "form-check-label", value: "none#{@team.id}"  %>
    </div>
    <% UNIFORM_COLORS.each do |color| %>
      <%= div_tag__uniform_radio_btn(form, color, @team.id) %>
    <% end %>



    <div class="d-flex gap-1 justify-content-end">
      <div class="bg-white">
        <%= link_to tournament_teams_path(@tournament), class: "btn btn-outline-secondary", data: { turbo_frame: dom_id(@team), testid: "cancel" } do %>
          <i class="bi bi-x"></i>
        <% end %>
        <%= button_tag type: "submit", class: "btn btn-outline-main", data: { turbo_frame: "_top", testid: "ok" } do %>
          <i class="bi bi-check-lg"></i>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
