<% provide(:title, @tournament.name) %>

<%# トーナメント共通ヘッダ %>
<% if @tournament.elimination? %>
  <%= render "shared/elimination_header", { elimination: @tournament.elimination, current_page: "チーム" } %>
<% elsif @tournament.roundrobin? %>
  <%= render "shared/roundrobin_header", { roundrobin: @tournament.roundrobin, current_page: "チーム" } %>
<% end %>

<div class="container-lg my-3">
  <p>
    最大16チーム登録できます。<br>
    トーナメント開始後は、追加、削除できません。
  </p>

  <div class="d-flex flex-row-reverse justify-content-between align-items-end mb-3">
    <p class="lead m-0"><%= @teams.size %>チーム</p>

    <% if @tournament.teams.size < MAX_TEAMS && @tournament.games.empty? %>
      <%= link_to new_tournament_team_path(@tournament),
                  class: "btn btn-outline-main",
                  data: { turbo_frame: dom_id(Team.new) } do %>
        <i class="bi bi-person-plus"></i> 追加
      <% end %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= turbo_frame_tag Team.new %>
  </div>

  <% if @teams.present? %>
    <div class="d-grid gap-1">
      <%= render @teams %>
    </div>
  <% else %>
    <div class="alert alert-warning">参加チームは未登録です</div>
  <% end %>

</div>