<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main">Step1</h5>
    <div class="border demo mb-3">
      <%= image_tag('create_roundrobin.PNG', width: '100%') %>
    </div>
    <p>
      「リーグ表作成」ボタンをクリック。<br>
      大会名、参加チーム数を入力します。
    </p>
  </div>
</div>

<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main">Step2</h5>
    <p>
      <span class="badge bg-dark">リーグ表</span><br>
    </p>
    <div class="border demo mb-3">
      <%= image_tag('roundrobin.PNG', width: '100%') %>
    </div>
    <p>リーグ表が作成されます。</p>
  </div>
</div>

<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main">Step3</h5>
    <p><span class="badge bg-dark">チーム</span></p>
    <div class="border demo mb-3">
      <%= image_tag('roundrobin_team_update.PNG', width: '100%') %>
    </div>
    <p>
      (必要なら)チーム名、アイコンを変更します。
    </p>
  </div>

</div>

<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main">Step4</h5>
    <p>
      <span class="badge bg-dark">リーグ表</span><br>
    </p>
    <div class="border demo mb-3">
      <%= image_tag('roundrobin_game_update.PNG', width: '100%') %>
    </div>
    <p>
      対象の試合(黄色のマス)をクリックして、試合結果を入力します。
    </p>
  </div>
</div>

<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main">Step5</h5>
    <p>
      <span class="badge bg-dark">リーグ表</span>
    </p>
    <div class="border demo mb-3">
      <%= image_tag('roundrobin-finished.PNG', width: '100%') %>
    </div>
    <p>
      <span class="badge bg-dark">順位表</span>
    </p>
    <div class="border demo mb-3">
      <%= image_tag('ranking-finished.PNG', width: '100%') %>
    </div>
    <p>リーグ表/順位表が更新されます。</p>
  </div>
</div>
