<% set_meta_tags reverse: false %>

<div id="main_visual" class="text-center">
  <div class="container-lg py-3 my-3">

    <h1 id="logo" class="display-3">Tournament Note</h1>
    <p class="fw-bold">トーナメント表、リーグ表の作成・共有</p>

    <div class="d-inline-flex flex-column flex-md-row justify-content-center gap-3">
      <%= link_to "トーナメント表作成", new_elimination_path, class: "btn btn-main btn-lg text-white" %>
      <%= link_to "リーグ表作成", new_roundrobin_path, class: "btn btn-main btn-lg text-white" %>
    </div>

  </div>
</div>



<div class="container-lg bg-light py-3">
  <p class="text-center">スポーツ、ゲーム等の対戦記録に。</p>
  <div class="d-flex flex-column align-items-center">
    <ul>
      <li class="mb-1">Tournament Noteは、手間なくトーナメント表やリーグ表を作成するアプリです。</li>
      <li class="mb-1">作成した表は、URLを伝えるだけで簡単に共有できます。</li>
    </ul>
  </div>
</div>




<div class="accordion" id="accordion">
<%# ----------------- トーナメント表 ------------------------- %>
  <div class="accordion-item">
    <div class="accordion-header" id="elimination-header">
      <h5 class="mb-0">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elimination-collapse" aria-expanded="true" aria-controls="elimination-collapse">
          トーナメント表
        </button>
      </h5>
    </div>

    <div id="elimination-collapse" class="accordion-collapse collapse show" aria-labelledby="elimination-header">
      <div class="accordion-body">
        <div class="d-flex flex-column align-items-center gap-2">

          <div class="border demo mb-2">
            <%= image_tag('Manual-Elimination.png', width: '100%') %>
          </div>

          <div class="d-flex justify-content-center">
            <ul>
              <li>参加チーム数： 2〜16チーム</li>
              <li>参加チーム数に合わせた表を自動生成。<br>(チーム数が端数でも設定不要)</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <%# ----------------- リーグ表 ------------------------- %>
  <div class="accordion-item">
    <div class="accordion-header" id="roundrobin-header">
      <h5 class="mb-0">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#roundrobin-collapse" aria-expanded="true" aria-controls="roundrobin-collapse">
          リーグ表
        </button>
      </h5>
    </div>

    <div id="roundrobin-collapse" class="accordion-collapse collapse show" aria-labelledby="roundrobin-header">
      <div class="accordion-body">
        <div class="d-flex flex-column align-items-center gap-2">

          <div class="border demo mb-3">
            <%= image_tag('Manual-Roundrobin.png', width: '100%') %>
          </div>

          <div class="border demo mb-3">
            <%= image_tag('Manual-Ranking.png', width: '100%') %>
          </div>

          <div class="d-flex justify-content-center">
            <ul>
              <li>参加チーム数： 2〜16チーム</li>
              <li>繰り返し対戦可能。</li>
              <li>順位条件を指定可能。</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>