<% provide(:title, '') %>

<div class="main_visual text-center">
  <div class="container-lg my-3">

    <h1 id="logo" class="display-3">Tournament Note</h1>
    <p>トーナメント表、リーグ表の作成・共有</p>

    <div class="d-inline-flex flex-column flex-md-row justify-content-center gap-3">
      <%= link_to new_elimination_path, class: "btn btn-main btn-lg" do %>
        <i class="bi bi-plus-circle"></i> トーナメント表作成
      <% end %>

      <%= link_to new_roundrobin_path, class: "btn btn-main btn-lg" do %>
        <i class="bi bi-plus-circle"></i> リーグ表作成
      <% end %>
    </div>

  </div>
</div>



<div class="container-lg bg-light py-3">
  <h5 class="text-dark text-center">特徴</h5>
  <ul>
    <li>携帯で使いやすいデザイン。</li>
    <li>ユーザ登録、アプリのダウンロード不要。</li>
    <li>表の作成が簡単。1分もかかりません。</li>
  </ul>
</div>

<div class="my-3 mt-5">
  <h5 class="text-dark text-center">基本的な使い方</h5>
</div>

<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main text-center">Step1</h5>
    <div class="border demo mb-3">
      <%= image_tag('create_tournament.PNG', width: '100%') %>
    </div>
    <p>トーナメント/リーグ名、チーム数を入力します。</p>
  </div>
</div>

<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main text-center">Step2</h5>
    <div class="border demo mb-2">
      <%= image_tag('elimination.PNG', width: '100%') %>
    </div>
    <div class="border demo mb-3">
      <%= image_tag('roundrobin.PNG', width: '100%') %>
    </div>
    <p>トーナメント/リーグが作成されます。</p>
  </div>
</div>

<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main text-center">Step3</h5>
    <div class="border demo mb-3">
      <%= image_tag('modify_team_name.PNG', width: '100%') %>
    </div>
    <p>
      <span class="badge bg-dark">チーム</span> <br>
      (必要なら)チーム名を初期値から変更します。
    </p>
  </div>

</div>

<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main text-center">Step4</h5>
    <div class="border demo mb-3">
      <%= image_tag('game_update.PNG', width: '100%') %>
    </div>
    <p>
      <span class="badge bg-dark">トーナメント表</span> <span class="badge bg-dark">リーグ表</span><br>
      対象の試合(黄色のマス)をクリックして、試合結果を入力します。
    </p>
  </div>
</div>

<div class="container-lg py-3">
  <div class="d-flex flex-column align-items-center gap-2">
    <h5 class="text-main text-center">Step5</h5>
    <div class="border demo mb-2">
      <%= image_tag('elimination-finished.PNG', width: '100%') %>
    </div>
    <div class="border demo mb-3">
      <%= image_tag('roundrobin-finished.PNG', width: '100%') %>
    </div>
    <p>トーナメント/リーグ表が更新されます。</p>
  </div>
</div>

