<% provide(:title, '') %>

<div id="main_visual" class="text-center">
  <div class="container-lg py-3 my-3">

    <h1 id="logo" class="display-3">Tournament Note</h1>
    <p class="fw-bold">トーナメント表、リーグ表の作成・共有</p>

    <div class="d-inline-flex flex-column flex-md-row justify-content-center gap-3">
      <%= link_to "トーナメント表作成", new_elimination_path, class: "btn btn-main btn-lg text-white" %>
      <%= link_to "リーグ表作成", new_roundrobin_path, class: "btn btn-main btn-lg text-white" %>
    </div>

  </div>
</div>



<div class="container-lg bg-light py-3">
  <h5 class="text-dark text-center fw-bold">特徴</h5>
  <div class="d-flex justify-content-center">
    <ul>
      <li>アカウント登録不要。すぐに使えます。</li>
      <li>作成した表を共有して、各自の携帯ブラウザからアクセスできます。</li>
      <li>表の作成、更新が簡単です。</li>
    </ul>
  </div>

  <h5 class="text-dark text-center fw-bold mt-3">利用シーン</h5>
  <p class="text-center">スポーツ、ゲームの対戦記録に。</p>
  <div class="d-flex flex-column align-items-center">
    <ul>
      <li>対戦済のカードがわかるので、参加チームが多いときの進行管理に役立ちます。</li>
      <li>チームの成績を共有できて盛り上がります。</li>
    </ul>
  </div>
</div>




<div class="accordion" id="accordion">
<%# ----------------- トーナメント表 ------------------------- %>
  <div class="accordion-item">
    <div class="accordion-header" id="elimination-header">
      <h5 class="mb-0">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elimination-collapse" aria-expanded="true" aria-controls="elimination-collapse">
          トーナメント表サンプル
        </button>
      </h5>
    </div>

    <div id="elimination-collapse" class="accordion-collapse collapse show" aria-labelledby="elimination-header">
      <div class="accordion-body">
        <div class="d-flex flex-column align-items-center gap-2">

          <div class="border demo mb-2">
            <%= image_tag('elimination-finished.PNG', width: '100%') %>
          </div>

          <div class="d-flex justify-content-center">
            <ul>
              <li>参加チーム数： 2〜16チーム</li>
              <li>参加チーム数に合わせて、対戦回数がなるべく均等な表を自動生成します。</li>
            </ul>
          </div>

          <%= link_to "トーナメント表の作成、更新手順", elimination_operation_path %>
        </div>
      </div>
    </div>
  </div>

  <%# ----------------- リーグ表 ------------------------- %>
  <div class="accordion-item">
    <div class="accordion-header" id="roundrobin-header">
      <h5 class="mb-0">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#roundrobin-collapse" aria-expanded="true" aria-controls="roundrobin-collapse">
          リーグ表サンプル
        </button>
      </h5>
    </div>

    <div id="roundrobin-collapse" class="accordion-collapse collapse show" aria-labelledby="roundrobin-header">
      <div class="accordion-body">
        <div class="d-flex flex-column align-items-center gap-2">

          <div class="border demo mb-3">
            <%= image_tag('roundrobin-finished.PNG', width: '100%') %>
          </div>

          <div class="border demo mb-3">
            <%= image_tag('ranking-finished.PNG', width: '100%') %>
          </div>

          <div class="d-flex justify-content-center">
            <ul>
              <li>参加チーム数： 2〜16チーム</li>
              <li>総当りの繰り返しが可能です。</li>
              <li>勝点 or 勝率で順位を判定します。</li>
            </ul>
          </div>

          <%= link_to "リーグ表の作成、更新手順", roundrobin_operation_path %>
        </div>
      </div>
    </div>
  </div>
</div>