<% set_meta_tags title: @roundrobin.name, og: { title: @roundrobin.name } %>

<%# リーグ共通ヘッダ %>
<%= render "shared/roundrobin_header", { roundrobin: @roundrobin, current_page: "設定" } %>

<div class="container-lg bg-light py-3">
  <%# 変更フォーム %>
  <div class="mb-4">
    <%= form_with(model: @roundrobin) do |form| %>
      <%# Error Message %>
      <%= form_error_notification(@roundrobin) %>

      <%# 大会名 %>
      <div class="mb-4">
        <%= form.label(:name, "大会名", class: "form-control-label") %>
        <%= form.text_field(:name, class: "form-control", placeholder: "(空の場合は、本日の日付が入ります。)") %>
      </div>

      <%# スコア有無 %>
      <div class="form-check mb-4">
        <%= form.check_box :has_score, { class: 'form-check-input' } %>
        <%= form.label :has_score, "スコアを記録", class: "form-check-label" %>
      </div>

      <%# Round数 %>
      <div class="mb-4">
        <div>
          <%= form.label(:num_of_round, " 対戦数", class: "form-control-label") %>
          <div class="d-flex flex-row align-items-end gap-2">
            <%= form.select :num_of_round, options_for_select(1..10, @roundrobin.num_of_round), {}, { class: "form-control w-25" } %>
            <span> 周</span>
          </div>
        </div>
      </div>

      <%# 順位判定条件 %>
      <div class="row mb-4">
        <%= div_tag__ranking_conditions(form: form, priority: 1, items: ['win_points', 'win_rate', 'goal_diff', 'total_goals']) %>
        <%= div_tag__ranking_conditions(form: form, priority: 2, items: ['none', 'win_points', 'win_rate', 'goal_diff', 'total_goals', 'head_to_head']) %>
        <%= div_tag__ranking_conditions(form: form, priority: 3, items: ['none', 'win_points', 'win_rate', 'goal_diff', 'total_goals', 'head_to_head']) %>
        <%= div_tag__ranking_conditions(form: form, priority: 4, items: ['none', 'win_points', 'win_rate', 'goal_diff', 'total_goals', 'head_to_head']) %>
      </div>

      <%# 更新パスワード %>
      <div class="mb-4">
        <%= form.label(:password, "更新パスワード", class: "form-control-label") %>
        <% tooltip_title = "共有する相手に更新を許可しない場合、本パスワードを設定してください。" %>
        <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title=<%= tooltip_title %>><i class="bi bi-question-square-fill"></i></span>
        <%= form.text_field(:password, class: "form-control", placeholder: "(空の場合は、他のブラウザからも更新可能です。)") %>
      </div>

      <%# 更新ボタン %>
      <div class="d-flex mt-4 justify-content-end">
        <div class="bg-white">
          <%= form.submit("更新", class: "btn btn-outline-main") %>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <%# リセット %>
  <div class="mb-4">
    <h5 class="text-danger">リーグをリセット</h5>
    <p>試合結果を削除して、リーグ開始前の状態に戻します。</p>
    <div class="d-flex justify-content-end">
      <div class="bg-white">
        <%= button_to "リセット", reset_roundrobin_path(@roundrobin), class: "btn btn-outline-danger",
                      data: { turbo_confirm: "全試合結果を削除します。" } %>
      </div>
    </div>
  </div>

  <hr>

  <%# 削除 %>
  <div class="mb-4">
    <h5 class="text-danger">リーグを削除</h5>
    <div class="d-flex justify-content-end">
      <div class="bg-white">
        <%= button_to "削除", roundrobin_path(@roundrobin), class: "btn btn-outline-danger",
                      method: :delete,
                      data: { turbo_confirm: "「#{@roundrobin.name}」リーグを削除します。削除すると元には戻せません。" } %>
      </div>
    </div>
  </div>
</div>


