<% set_meta_tags title: 'リーグ表作成', og: { title: 'リーグ表作成' } %>

<div class="container-lg my-3">
  <h1 class="mb-5">リーグ表作成</h1>
</div>


<div class="container-lg bg-light py-3">

  <%= form_with(model: @roundrobin) do |form| %>
    <%# Error Message %>
    <%= form_error_notification(@roundrobin) %>

    <%# 大会名 %>
    <div class="mb-4">
      <%= form.label(:name, "大会名", class: "form-control-label") %>
      <%= form.text_field(:name, class: "form-control", placeholder: "(空の場合は、本日の日付が入ります。)") %>
    </div>

    <%# 説明 %>
    <div class="mb-4">
      <%= form.label(:description, "説明", class: "form-control-label") %>
      <%= form.text_area(:description, rows: 5, cols: 10, class: "form-control", placeholder: "(省略可能)") %>
    </div>

    <%# チーム数 %>
    <div class="mb-4">
      <%= label_tag :num_of_teams, "参加チーム数", class: "form-control-label" %>
      <%= select_tag :num_of_teams, options_for_select(1..MAX_TEAMS, 4), { class: "form-control" } %>
    </div>

    <hr>
    <p class="text-secondary mb-4">
      <span><i class="bi bi-diamond-fill"></i></span>
      詳細設定
    </p>

    <%# スコア有無 %>
    <div class="form-check mb-4">
      <%= form.check_box :has_score, { class: 'form-check-input' } %>
      <%= form.label :has_score, "スコアを記録", class: "form-check-label" %>
    </div>

    <%# Round数 %>
    <div class="mb-4">
      <div>
        <%= form.label(:num_of_round, " 対戦数", class: "form-control-label") %>
        <div class="d-flex flex-row align-items-end gap-2">
          <%= form.select :num_of_round, options_for_select(1..10, @roundrobin.num_of_round), {}, { class: "form-control w-25" } %>
          <span> 周</span>
        </div>
      </div>
    </div>

    <%# 順位判定条件 %>
    <div class="row mb-4">
      <%= div_tag__ranking_conditions(form: form, priority: 1, items: ['win_points', 'win_rate', 'goal_diff', 'total_goals']) %>
      <%= div_tag__ranking_conditions(form: form, priority: 2, items: ['none', 'win_points', 'win_rate', 'goal_diff', 'total_goals', 'head_to_head']) %>
      <%= div_tag__ranking_conditions(form: form, priority: 3, items: ['none', 'win_points', 'win_rate', 'goal_diff', 'total_goals', 'head_to_head']) %>
      <%= div_tag__ranking_conditions(form: form, priority: 4, items: ['none', 'win_points', 'win_rate', 'goal_diff', 'total_goals', 'head_to_head']) %>
    </div>

    <%# 更新パスワード %>
    <div class="mb-4">
      <%= form.label(:password, "更新パスワード", class: "form-control-label") %>
      <% tooltip_title = "共有する相手に更新を許可しない場合、本パスワードを設定してください。" %>
      <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title=<%= tooltip_title %>><i class="bi bi-question-square-fill"></i></span>
      <%= form.text_field(:password, class: "form-control", placeholder: "(空の場合は、他のブラウザからも更新可能です。)") %>
    </div>

    <%# 作成ボタン %>
    <div class="d-flex mt-4 justify-content-end">
      <div class="bg-white">
        <%= form.submit("作成", class: "btn btn-outline-main") %>
      </div>
    </div>

  <% end %>
</div>
