<% set_meta_tags title: @elimination.name, og: { title: @elimination.name } %>

<%# トーナメント共通ヘッダ %>
<%= render "shared/elimination_header", { elimination: @elimination, current_page: "設定" } %>

<div class="container-lg bg-light py-3">
  <%# 変更フォーム %>
  <div class="mb-4">
    <%= form_with(model: @elimination) do |form| %>
      <%# Error Message %>
      <%= form_error_notification(@elimination) %>

      <%# 大会名 %>
      <div class="mb-4">
        <%= form.label(:name, "大会名", class: "form-control-label") %>
        <%= form.text_field(:name, class: "form-control", placeholder: "(空の場合は、本日の日付が入ります。)") %>
      </div>

      <%# スコア有無 %>
      <div class="form-check mb-4">
        <%= form.check_box :has_score, { class: 'form-check-input' } %>
        <%= form.label :has_score, "スコアを記録", class: "form-check-label" %>
      </div>

      <%# 更新パスワード %>
      <div class="mb-4">
        <%= form.label(:password, "更新パスワード", class: "form-control-label") %>
        <% tooltip_title = "トーナメント表を共有する相手に更新を許可しない場合、本パスワードを設定してください。" %>
        <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title=<%= tooltip_title %>><i class="bi bi-question-square-fill"></i></span>
        <%= form.text_field(:password, class: "form-control", placeholder: "(空の場合は、他のブラウザからも更新可能です。)") %>
      </div>

      <%# 更新ボタン %>
      <div class="d-flex mt-4 justify-content-end">
        <div class="bg-white">
          <%= form.submit("更新", class: "btn btn-outline-main") %>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <%# リセット %>
  <div class="mb-4">
    <h5 class="text-danger">トーナメントをリセット</h5>
    <p>試合結果を削除して、トーナメント開始前の状態に戻します。</p>
    <div class="d-flex justify-content-end">
      <div class="bg-white">
        <%= button_to "リセット", reset_elimination_path(@elimination), class: "btn btn-outline-danger",
                      data: { turbo_confirm: "全試合結果を削除します。" } %>
      </div>
    </div>
  </div>

  <hr>

  <%# 削除 %>
  <div class="mb-4">
    <h5 class="text-danger">トーナメントを削除</h5>
    <div class="d-flex justify-content-end">
      <div class="bg-white">
        <%= button_to "削除", elimination_path(@elimination), class: "btn btn-outline-danger",
                      method: :delete,
                      data: { turbo_confirm: "「#{@elimination.name}」トーナメントを削除します。削除すると元には戻せません。" } %>
      </div>
    </div>
  </div>
</div>


