<% set_meta_tags title: @elimination.name, og: { title: @elimination.name } %>

<%# トーナメント共通ヘッダ %>
<%= render "shared/elimination_header", { elimination: @elimination, current_page: "トーナメント表" } %>

<%# Bookmarkボタン %>
<%= turbo_frame_tag "bookmark_button" do %>
  <%= render "bookmark_button", { tournament_bookmarks: @tournament_bookmarks, elimination: @elimination } %>
<% end %>


<%# トーナメント説明 %>
<% if @elimination.description.present? %>
  <div class="bg-light my-5">
    <div class="container-lg py-3">
      <p class="pre-wrap"><%= raw Rinku.auto_link(@elimination.description, :urls, 'target="_blank" rel="noopener noreferrer"') %></p>
    </div>
  </div>
<% end %>

<%# 参加チームなしの場合 %>
<% if @teams.count < 2 %>
  <div class="container-lg my-3">
    <div class="alert alert-warning">参加チームが2チーム以上必要です</div>
  </div>

<% else %>
  <%# 更新方法説明 (パスワード保護解除時のみ) %>
  <% if tournament_owner?(@elimination.tournament) %>
    <div class="container-lg">
      <p>
        <!--                <i class="bi bi-info-circle" style="color: goldenrod"></i>-->
        各試合をクリックして、試合結果を更新します。
        <% tooltip_title = "下のトーナメント表の各試合(薄い黄色部分)をクリック" %>
        <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title=<%= tooltip_title %>>
          <i class="bi bi-question-square-fill"></i>
        </span>
      </p>
    </div>
  <% end %>

  <div class="bg-white border-0 border-dark py-3">
    <div id="elimination-table-wrapper" class="container-lg elimination-table-wrapper">
      <%= render partial: "eliminations/main_race",
                 locals: { elimination: @elimination, teams: @teams, games: @games, round_offset: 0, final_round: @elimination.final_round, seed_table: @elimination.seed_table } %>
    </div>
  </div>

  <%= turbo_frame_tag "modal" %>
<% end %>