<!--<nav class="navbar fixed-top  navbar-dark bg-dark">-->
<nav class="navbar navbar-dark bg-main px-3">
  <%= link_to root_path, class: "navbar-brand" do %>
    <span class="h3">Tournament Note</span>
  <% end %>


  <div class="d-flex">
    <%# ブックマーク %>
    <%= turbo_frame_tag "bookmark_menu" do %>
      <%= render "shared/bookmark_menu", { tournament_bookmarks: @tournament_bookmarks } %>
    <% end %>

    <%# メニュー %>
    <button id="menubar" class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item"><%= link_to root_path, class: "nav-link active" do %>
          <i class="bi bi-house"></i> ホーム
        <% end %>
      </li>
      <li class="nav-item"><%= link_to inquiry_path, class: "nav-link active" do %>
          <i class="bi bi-envelope"></i> お問い合わせ
        <% end %>
      </li>
    </ul>
  </div>
</nav>
